footer {
  background: $black;
  color: $white;
  padding: 10px;

  p {
    i {
      color: $indigo !important;
      font-size: 20px;
    }

    a {
      color: $indigo !important;
      transition: all 0.5s ease-in-out;

      &:hover {
        color: $blue !important;
      }
    }
  }

  .links {
    ul {
      li {
        margin-bottom: 10px;
        font-size: 20px;
        a {
          color: $indigo !important;
          transition: all 0.5s ease-in-out;

          &:hover {
            color: $blue !important;
          }
        }
      }
    }
  }

  .social {
    a {
      color: $indigo !important;
      font-size: 25px;
      padding-left: 10px;
      transition: all 0.5s ease-in-out;

      &:hover {
        color: $blue !important;
      }
    }
  }

  .section-divider {
    background: rgba(250, 242, 242, 0.233);
  }
}
